/*GENERAL*/
h1, h2, h3 {
  font-family: 'Yesteryear', sans-serif;
  color: #253525;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  margin: 0px;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.2em;
}


/*HEADER*/
.nav-custom {
  /*background: url(/images/trees-header.png) no-repeat center;
  background-size: cover;*/
  background: none;
  border: none;
  margin: 0;
  font-family: 'Yesteryear', sans-serif;
  font-size: 2em;
  z-index: 100;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*-moz-osx-font-smoothing: grayscale;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#navigation li a {
  color: #e4e3d9;
  text-shadow: 2px 2px #253525;
  margin-right: 30px;
  text-align: center;
}

.transparency {
  background-color:rgba(37,53,37,0.7);
  height: 100%;
  width: 100%;
}


.navbar-collapse {
  border: none;
}

.navbar-toggle {
  background-color: #e4e3d9;
}


/*FOOTER*/
footer {
  clear: both;
  text-align: center;
}

.foot {
  background-color: #e4e3d9;
}

.social {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 35px;
  margin: 15px 5px 15px 5px;
  color: #253525;
}

.social-icon:hover{
  color: #253525;
}


/*Home*/
.Home {
  background: url(/images/trees.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding-bottom: 100px;
  width: 100%;
}

.bigName {
  font-size: 8em;
  color: #e4e3d9;
  text-shadow: 3px 3px 5px #253525;
  -ms-transform: rotate(-12deg); /* IE 9 */
  -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
  transform: rotate(-12deg);
  height: 400px;
  margin-top: 250px;
  text-align: center;
  margin-right: 0px;
}

/*About*/
.About {
  background-color: #e4e3d9;
  margin: 0px;
  padding: 100px 0 50px 0;
  width: 100%;
}

.forest {
  text-align: center;
  padding-bottom: 20px;
}

ul {
  padding: 0px;
  margin: 0px;
  font-size: 1.2em;
}

.paragraph {
  padding-bottom: 10px;
}

/*Between*/
.between {
  background: url(/images/trees_strip.png) no-repeat center;
  margin: 0px;
  padding: 50px;
  background-size: cover;
}
