//fonts & sizes
$body-stack: "Merriweather", "Georgia", serif;
$heading-stack: "Open Sans", sans-serif;

$base-font-size: 16px;
$modular-scale-1: 1.728em;
$modular-scale-2: 2.986em;
$modular-scale-3: 4.3em;
$modular-scale-4: 5.16em;

//colors
$base-font-color: #303030;
$dark-blue: #193441;
$light-blue: #3E606F;
$green: #91AA9D;
$salmon: #FF7171;
$offwhite: #F9F9F4;

//typography
body, p {
    font-family: $body-stack;
    font-size: $base-font-size;
    color: $base-font-color;
    line-height: 1.75;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: $base-font-color;

    :hover, :active {
        color: $salmon;
        text-decoration: none;
        font-weight: normal;
    }
}

h1, h2, h3 {
    font-family: $heading-stack;
    color: $base-font-color;
    line-height: 1.15;
    margin: 0;
}

h1 {
    font-size: $modular-scale-3;
    text-align: center;
    color: $offwhite;
}

h2 {
    font-size: $modular-scale-2;
    text-align: center;
    padding: 20px 0;
}

h3 {
    font-size: $modular-scale-1;
    margin: 10px 0;
}

//page setup
body {
    background-color: $offwhite;
}
