<footer>

  <div class="container-fluid">
    <div class="navbar-fixed-bottom row foot">
      <span class="social">
        <a class="social-icon hvr-grow" href=mailto:katybowman@gmail.com alt="email"><i class="fa fa-envelope fa-2x"></i></a>
        <a class="social-icon hvr-grow" href="http://twitter.com/k80bowman" alt="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
        <a class="social-icon hvr-grow" href="https://www.linkedin.com/in/k80bowman" alt="LinkedIn"><i class="fa fa-linkedin fa-2x"></i></a>
        <a class="social-icon hvr-grow" href="http://freecodecamp.com/k80bowman" alt="Free Code Camp"><i class="fa fa-fire fa-2x"></i></a>
      </span>

  </div>

</footer>
